<a href="https://colab.research.google.com/github/Nikhil-singh955/AI-Project/blob/main/SQL_QUESTIONS_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BASIC** SQL CONCEPTS

#  1. What is SQL, and why is it important in data analytics?

ANS 1. SQL (Structured Query Language) is a programming language used to manage and manipulate relational databases.

It is essential in data analytics because it allows analysts to query, retrieve, filter, and transform data efficiently, enabling insights and decision-making.

# 2 . Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN




Ans 2 .
**1. INNER JOIN :-**
 Returns only the rows where there is a match in both tables.


SELECT Customers.CustomerID, Customers.Name, Orders.OrderID, Orders.OrderDate

FROM Customers

INNER JOIN Orders

ON Customers.CustomerID = Orders.CustomerID;


Rows without matches in either table are excluded.

**2.  LEFT JOIN (LEFT OUTER JOIN) :-**

Returns all rows from the left table and the matching rows from the right table.

If no match exists, NULLs are returned for the right table's columns.


SELECT Customers.CustomerID, Customers.Name, Orders.OrderID, Orders.OrderDate

FROM Customers

LEFT JOIN Orders

ON Customers.CustomerID = Orders.CustomerID;


**3. RIGHT JOIN (RIGHT OUTER JOIN) :-**
Returns all rows from the right table and the matching rows from the left table.

If no match exists, NULLs are returned for the left table's columns.

SELECT Customers.CustomerID, Customers.Name, Orders.OrderID, Orders.OrderDate

FROM Customers

RIGHT JOIN Orders

ON Customers.CustomerID = Orders.CustomerID;


**4. FULL OUTER JOIN :-**

Combines the results of both LEFT JOIN and RIGHT JOIN.

Returns all rows from both tables, with NULLs in non-matching columns where no match is found.

SELECT Customers.CustomerID, Customers.Name, Orders.OrderID, Orders.OrderDate

FROM Customers

FULL JOIN Orders

ON Customers.CustomerID = Orders.CustomerID;

# 3. What is the difference between WHERE and HAVING clauses?

Ans 3.
1. WHERE Clause :-

Purpose: Filters rows before any grouping occurs.

Scope: Works on individual rows of data.

Usage: Used with any column, even those not in aggregate functions.

2. HAVING Clause :-

Purpose: Filters groups of data after aggregation (used with GROUP BY).

Scope: Works on aggregated results (like SUM, AVG, COUNT).

Usage: Only applies to grouped data and aggregate functions

In [ ]:
# USE OF WHERE
SELECT CustomerID, Name
FROM Customers
WHERE City = 'New York';

#USE OF HAVING
SELECT City, COUNT(CustomerID) AS TotalCustomers
FROM Customers
GROUP BY City
HAVING COUNT(CustomerID) > 2;

# 4. How do you use GROUP BY and HAVING in a query?

# GROUP BY

Purpose: Groups rows with the same values in specified columns into summary rows.

Usage: Commonly used with aggregate functions like SUM, AVG, COUNT, MAX, MIN

# HAVING

Purpose: Filters the grouped data based on conditions applied to aggregate functions.

Usage: Always used after GROUP BY

In [ ]:
SELECT Category, SUM(TotalAmount) AS TotalSales
FROM Sales
GROUP BY Category
HAVING SUM(TotalAmount) > 250;

Departments with more than 10 employees:

# 5. Write a query to find duplicate records in a table.

In [ ]:
SELECT column_name, COUNT(*)
FROM table_name
GROUP BY column_name
HAVING COUNT(*) > 1;

# 6. How do you retrieve unique values from a table using SQL?

In [ ]:
SELECT DISTINCT column_name FROM table_name;

# 7. Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().



COUNT(): Counts the number of rows.

SUM(): Calculates the total of a numeric column.

AVG(): Computes the average value of a numeric column.

MIN(): Returns the smallest value in a column.

MAX(): Returns the largest value in a column.

In [ ]:
SELECT COUNT(*) AS TotalRows FROM Employees;

SELECT SUM(Salary) AS TotalSalary FROM Employees;

SELECT AVG(Salary) AS AverageSalary FROM Employees;

SELECT MIN(Salary) AS LowestSalary FROM Employees;

SELECT MAX(Salary) AS HighestSalary FROM Employees;

#7. What is the purpose of a DISTINCT keyword in SQL?

The DISTINCT keyword eliminates duplicate rows in the result set.

In [ ]:
SELECT DISTINCT City
FROM Customers;

# Intermediate SQL

# 1. Write a query to find the second-highest salary from an employee table.

In [ ]:
SELECT MAX(salary)
FROM employees
WHERE salary < (SELECT MAX(salary) FROM employees);

# 2. What are subqueries and how do you use them?

In [ ]:
Subqueries are queries nested inside another query.
They are used to provide intermediate results for the outer query.

SELECT name
FROM employees
WHERE salary = (SELECT MAX(salary) FROM employees);

# 3. What is a Common Table Expression (CTE)? Give an example of when to use it.

In [ ]:
A CTE is a temporary result set defined within a

WITH clause for improved query readability and reusability.

WITH EmployeeCTE AS (

    SELECT department, AVG(salary) AS avg_salary

    FROM employees

    GROUP BY department
)
SELECT * FROM EmployeeCTE WHERE avg_salary > 50000;

# 4. Explain window functions like ROW_NUMBER(), RANK(), and DENSE_RANK().


ROW_NUMBER(): Assigns a unique number to each row, starting at 1 for each partition.

RANK(): Assigns a rank to rows with ties, leaving gaps.

DENSE_RANK(): Similar to RANK but without gaps.

In [ ]:
# ROW_NUMBER()
SELECT Employee, Region, TotalSales,

       ROW_NUMBER() OVER (PARTITION BY Region ORDER BY TotalSales DESC) AS RowNum

FROM Sales;

# RANK()

SELECT Employee, Region, TotalSales,

       RANK() OVER (PARTITION BY Region ORDER BY TotalSales DESC) AS Rank

FROM Sales;

# DENSE_RANK()

SELECT Employee, Region, TotalSales,

       DENSE_RANK() OVER (PARTITION BY Region ORDER BY TotalSales DESC) AS DenseRank

FROM Sales;

# 5. How do you combine results of two queries using UNION and UNION ALL?

UNION: Combines results and removes duplicates.

UNION ALL: Combines results without removing duplicates.

In [ ]:
# UNION

SELECT EmployeeID, Name, Department

FROM Employees

UNION

SELECT EmployeeID, Name, Department

FROM Contractors;


# UNION ALL

SELECT EmployeeID, Name, Department

FROM Employees

UNION ALL

SELECT EmployeeID, Name, Department

FROM Contractors;

# 6 What are indexes in SQL, and how do they improve query performance?




Indexes are data structures that improve the speed of data retrieval by providing a quick lookup mechanism, reducing the need to scan entire tables.

# 7. Write a query to calculate the total sales for each month using GROUP BY.

In [ ]:
SELECT MONTH(sale_date) AS sale_month, SUM(sales) AS total_sales

FROM sales

GROUP BY MONTH(sale_date);

# Advanced SQL

#1. How do you optimize a slow-running SQL query?

1. Use proper indexing.

2. Avoid SELECT *; specify columns.

3. Use query execution plans for analysis.

4. Optimize joins by reducing unnecessary tables.

5. Avoid redundant calculations and subqueries.

# 2. What are views in SQL, and when would you use them?

Views are virtual tables based on queries. They are used for simplifying complex queries, improving security by exposing only specific data, and providing a consistent interface for different users.

In [ ]:
CREATE VIEW employee_summary AS

SELECT Department, AVG(Salary) AS AvgSalary

FROM Employees

GROUP BY Department;

# 3. What is the difference between a stored procedure and a function in SQL?





Stored Procedure: Can perform multiple operations, accept input/output parameters, and does not necessarily return a value.

Function: Always returns a value and is used for computations.

# 4. Explain the difference between TRUNCATE, DELETE, and DROP commands.

TRUNCATE: Removes all rows from a table without logging individual row deletions.

DELETE: Removes specific rows based on a condition.

DROP: Deletes the table structure and all its data.

In [ ]:
# TRUNCATE

TRUNCATE TABLE Employees;

# DELETE

DELETE FROM Employees WHERE Department = 'HR';

# DROP

DROP TABLE Employees;

# 5. What are windowing functions, and how are they used in analytics?


Windowing functions operate over a specified range of rows. Examples include aggregations, ranking, and running totals.

# 6. How do you use PARTITION BY and ORDER BY in window functions?

In [ ]:
SELECT name, department, salary,

       RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rank

FROM employees;

# 7. How do you handle NULL values in SQL, and what functions help with that (e.g., COALESCE, ISNULL)?

In [ ]:
COALESCE: Returns the first non-NULL value.

SELECT COALESCE(column1, 'Default Value') FROM table;


ISNULL: Replaces NULL with a specified value.

SELECT ISNULL(column1, 'Default Value') FROM table;